---
http_interactions:
- request:
    method: get
    uri: https://search.censys.io/api/v2/hosts/aggregate?field=location.continent&num_buckets=1&q=services.http.response.body_hash:%22sha1:4a3ce8ee11e091dd7923f4d8c6e5b5e41ec7c047%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 200, "status": "OK", "result": {"total": 90, "total_omitted":
        44, "potential_deviation": 0, "buckets": [{"key": "Europe", "count": 46}],
        "query": "services.http.response.body_hash:\"sha1:4a3ce8ee11e091dd7923f4d8c6e5b5e41ec7c047\"",
        "field": "location.continent"}}'
  recorded_at: Wed, 02 Jun 2021 23:26:07 GMT
recorded_with: VCR 6.0.0
