---
http_interactions:
- request:
    method: get
    uri: https://search.censys.io/api/v2/hosts/search?cursor=eyJBZnRlciI6WyIxNC4yMTg5NzUiLCIzNy4xODcuOTguMTY1Il0sIlJldmVyc2UiOmZhbHNlfQ==&q=services.http.response.body_hash:%22sha1:4a3ce8ee11e091dd7923f4d8c6e5b5e41ec7c047%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code": 200, "status": "OK", "result": {"query": "services.http.response.body_hash:\"sha1:4a3ce8ee11e091dd7923f4d8c6e5b5e41ec7c047\"",
        "total": 90, "hits": [{"ip": "51.75.141.170", "services": [{"port": 22, "service_name":
        "SSH", "transport_protocol": "TCP"}, {"port": 3000, "service_name": "HTTP",
        "transport_protocol": "TCP"}], "location": {"continent": "Europe", "country":
        "France", "country_code": "FR", "timezone": "Europe/Paris", "coordinates":
        {"latitude": 48.8582, "longitude": 2.3387}, "registered_country": "France",
        "registered_country_code": "FR"}, "autonomous_system": {"asn": 16276, "description":
        "OVH", "bgp_prefix": "51.75.0.0/16", "name": "OVH", "country_code": "FR"}},
        {"ip": "51.145.29.139", "services": [{"port": 80, "service_name": "HTTP",
        "transport_protocol": "TCP"}, {"port": 443, "service_name": "HTTP", "transport_protocol":
        "TCP"}, {"port": 8023, "service_name": "HTTP", "transport_protocol": "TCP"}],
        "location": {"continent": "Europe", "country": "United Kingdom", "country_code":
        "GB", "city": "London", "postal_code": "EC2V", "timezone": "Europe/London",
        "province": "England", "coordinates": {"latitude": 51.5164, "longitude": -0.093},
        "registered_country": "United Kingdom", "registered_country_code": "GB"},
        "autonomous_system": {"asn": 8075, "description": "MICROSOFT-CORP-MSN-AS-BLOCK",
        "bgp_prefix": "51.144.0.0/15", "name": "MICROSOFT-CORP-MSN-AS-BLOCK", "country_code":
        "US"}}, {"ip": "116.203.102.76", "services": [{"port": 22, "service_name":
        "SSH", "transport_protocol": "TCP"}, {"port": 80, "service_name": "HTTP",[...]
