---
http_interactions:
  - request:
      method: get
      uri: https://search.censys.io/api/v2/hosts/search?q=services.http.response.body_hash:%22sha1:4a3ce8ee11e091dd7923f4d8c6e5b5e41ec7c047%22
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - "<CENSORED>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json
      body:
        encoding: ASCII-8BIT
        string:
          '{"code": 200, "status": "OK", "result": {"query": "services.http.response.body_hash:\"sha1:4a3ce8ee11e091dd7923f4d8c6e5b5e41ec7c047\"
          ", "total": 90, "hits": [{"ip": "172.104.16.232", "services": [{"port": 22,
          "service_name": "SSH", "transport_protocol": "TCP"}, {"port": 80, "service_name":
          "HTTP", "transport_protocol": "TCP"}], "location": {"continent": "North America",
          "country": "United States", "country_code": "US", "city": "Cedar Knolls",
          "postal_code": "07927", "timezone": "America/New_York", "province": "New Jersey",
          "coordinates": {"latitude": 40.8229, "longitude": -74.4592}, "registered_country":
          "United States", "registered_country_code": "US"}, "autonomous_system": {"asn":
          63949, "description": "LINODE-AP Linode, LLC", "bgp_prefix": "172.104.16.0/20",
          "name": "LINODE-AP Linode, LLC", "country_code": "US"}, "operating_system":
          {"uniform_resource_identifier": "cpe:2.3:o:*:linux:*:*:*:*:*:*:*:*", "part":
          "o", "product": "linux", "source": "OSI_TRANSPORT_LAYER", "component_uniform_resource_identifiers":
          []}}, {"ip": "18.217.237.121", "services": [{"port": 22, "service_name": "SSH",
          "transport_protocol": "TCP"}, {"port": 80, "service_name": "HTTP", "transport_protocol":
          "TCP"}, {"port": 3306, "service_name": "MYSQL", "transport_protocol": "TCP"}],
          "location": {"continent": "North America", "country": "United States", "country_code":
          "US", "city": "Columbus", "postal_code": "43215", "timezone": "America/New_York",
          "province": "Ohio", "c[...]
